/* 태그들 기본 설정 */
body,
ul,
h2,
p {
    /* margin = 바깥족 여백, padding 안쪽 여백 - border을 경계로 나뉨 */
    margin: 0;
    padding: 0;
}

li {
    /* 목록앞에 붙는 모양 없애주기 */
    list-style-type: none;
}

body {
    background-color: #111;
    color: #999;
}

.wrapper {
    /* 안에 있는 팀 내용을 컨텐츠 크기만큼 줄이기 */
    display: flex;
    /* height = auto = 레퍼 안에 담겨져 있는 내용물의 높이 */
    height: 100vh;
    /* 가로세로 중간으로 만들어줌 */
    justify-content: center;
    align-items: center;
}


.team {
    display: flex;
    justify-content: center;
    /* hover 됐을때 가운데를 중심으로 창이 올라오게 하기 */
    align-items: center;
}


/*  사진 크기 조정 */
.team-item {
    flex-basis: 150px;
    /* hover했을때 대상 예외의 프로필들 사이즈 유지하기 */
    flex-shrink: 0;
    /* 0 = 상하단, 10px =좌우 */
    margin: 0 10px;
    transition: all .4s;
}

/* 마우스를 가져다 댔을때 작동할 수 있게 만드는 가상 클레스 */
.team-item:hover {
    flex-basis: 200px;
    /* hover 했을 때 좌우 더 벌려주기 */
    margin: 0 20px;
}


.team-item img {
    /* 100%는 부모 상속을 기준으로 하기 때문에 1team-item에서 100px이였던 부분에 꽉차게 들어오게 만듬 */
    width: 100%;
}

/* 프로필 contents p 에서 내용물을 숨겼기 때문에 hover 했을때 내용물이 뜨게 만들어 줘야됨. */
.team-item:hover .profile-contents p {
    max-height: 200px;
}


/* ---------------------------------profile----------------------------------------- */






.profile {
    background-color: #222;
    /* 각 프로필이 구분되는 상대적인 위치를 만들어줌 */
    position: relative;
    /* 프로필 내용이 많아서 자기 범위를 넘어서 침범했을때  */
    overflow: hidden;
}

/* 프로필 내용이 너무 안보여서 그라데이션을 첨가하려고 함.  */
.profile:before {
    content: ' ';
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f2000000', GradientType=0);
    /* IE6-9 */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
}


.profile_red {
    color: #ff4949;
}

.profile_beige {
    color: beige
}

.profile_green {
    color: green
}

.profile_pink {
    color: pink
}

.profile_purple {
    color: purple
}






.profile-contents {
    /* 공간을 차지하지 않고 설명 상단에 붙어서 뜨게 설정해줌 */
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
}

.profile-contents h2 {
    font-size: 20px;

}

.profile-contents h2 span {
    /* 밑으로 줄바꿈 */
    display: block;
    font-size: 14px;
}

.profile-contents p {
    color: white;
    font-size: 14px;
    min-width: width 200px;
    max-height: 0;
    overflow: hidden;
    line-height: 1.2;
    transition: all .4s;
    /* 투명도 */
    opacity: 0;
    transition-delay: .4s;
}

.team-item:hover .profile-contents p {
    opacity: 1;
    max-height: 6em;
    /* 이름과 내용 띄우기 */
    margin-top: 0.5em;
}