body,
ul,
h2,
p {
    /* margin = 바깥족 여백, padding 안쪽 여백 - border을 경계로 나뉨 */
    margin: 0;
    padding: 0;
}

li {
    /* 목록앞에 붙는 모양 없애주기 */
    list-style-type: none;
}

body {
    background-color: #111;
    color: #999;
}

.wrapper {
    /* 안에 있는 팀 내용을 컨텐츠 크기만큼 줄이기 */
    display: flex;
    /* height = auto = 레퍼 안에 담겨져 있는 내용물의 높이 */
    height: 100vh;
    /* 가로세로 중간으로 만들어줌 */
    justify-content: center;
    align-items: center;
}


.team {
    display: flex;
    justify-content: center;
    /* hover 됐을때 가운데를 중심으로 창이 올라오게 하기 */
    align-items: center;
}


/*  사진 크기 조정 */
.team_item {
    flex-basis: 100px;
    /* 0 = 상하단, 10px =좌우 */
    margin: 0 10px;
    transition: all .4s;
}

/* 마우스를 가져다 댔을때 작동할 수 있게 만드는 가상 클레스 */
.team-item:hover {
    flex-basis: 160px;
    /* hover 했을 때 좌우 더 벌려주기 */
    margin: 0 20px;
}


.team_item img {
    /* 100%는 부모 상속을 기준으로 하기 때문에 1team_item에서 100px이였던 부분에 꽉차게 들어오게 만듬 */
    width: 100%;
}

.profile {
    background-color: #222;
    /* 각 프로필이 구분되는 상대적인 위치를 만들어줌 */
    position: relative;
}

.profile_contents {
    /* 공간을 차지하지 않고 설명 상단에 붙어서 뜨게 설정해줌 */
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    color: white;
}

.profile-contents h2 {
    font-size: 20px;

}

.profile-contents h2 span {
    /* 밑으로 줄바꿈 */
    display: block;
    font-size: 12px;
}

.profile-contents p {
    display: none;
}